# A basic Player/Stage config file.
# Config: <NAME>
# Generated: <DATE>

# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides ["simulation:0" ]
  plugin "libstageplugin"

  # load the named file into the simulator
  worldfile "<NAME>.world"	
)
