/* Stylesheet for OccamDoc output
   Adam Sampson <ats@offog.org>
 */

HTML {
	background-color: white;
	color: black;
	font-size: medium;
	margin: 10px;
	padding: 0;
}
BODY {
	margin: 0;
	padding: 0;
}
A:link {
	color: #008;
}
A:visited {
	color: #800;
}

H1, H2, H3, H4, H5, H6 {
	font-weight: bold;
}
H1 { font-size: xx-large; }
H2 { font-size: xx-large; }
H3 { font-size: x-large; }
H4 { font-size: large; }
H5 { font-size: medium; }
H6 { font-size: medium; }

#index {}
#content {}

#frames-index H2 {
	font-size: medium;
}
#frames-index UL {
	list-style: none;
	padding: 0 0 0 20px;
	margin: 0;
}
#frames-index > UL {
	padding: 0;
}
#frames-index LI {
	display: block;
	padding: 0;
	margin: 0;
}

.header { background-color: #eeeeee; }
.group { background-color: #cceecc; }
.proctype { background-color: #dddddd; }
.proc { background-color: #dddddd; }
.protocol { background-color: #ddddff; }
.function { background-color: #ddffdd; }
.operator { background-color: #cceedd; }
.chantype { background-color: #ddffff; }
.record { background-color: #ddffff; }
.datatype { background-color: #ffdddd; }
.abbreviation { background-color: #ffddff; }
.constant { background-color: #ffddff; }
.variable { background-color: #ffffdd; }
.tag { background-color: #ffffdd; }

.header, .declaration {
	border: 1px solid black;
	padding: 2px 5px;
	margin: 10px 5px;
}
DIV > .group {
	border: 1px dashed black;
}

.location {
	display: block;
	float: right;
	font-size: medium;
	font-weight: normal;
	padding: 0;
}

.definition,
.description,
.deprecated,
.since,
.params,
.returns,
.maintainer,
.defined { margin: 0 20px; }

.deprecated {
	border: 3px solid red;
	font-weight: bold;
	padding: 5px;
}

.children {}

TR:first-child > TD {
	border-top: 1px dotted #777777;
}
TD {
	border-bottom: 1px dotted #777777;
	margin: 0;
	padding: 2px 5px;
}

